:root {
	--nav-padding: 7px 0;
	--belka-gora: red;
	--body-highlight: #e5a537;
	--borderDecotarte: 1px dashed #65acce;
	--buttonBackground: #820b0d;
	--buttonBackground_hover: #450100;
	--buttonBorder: #a1645f;
	--buttonBorder_hover: #a0282a;
	--primaryColor: transparent;
	--secondaryColor: transparent;

	--color-index: #f1f1f1;
	--background-index: black url("../../content/background-index.png");
	--nav-background-index: #0f1219;
}
