body {
	background: var(--background-index);
	color: var(--color-index);
}

nav {
		background: var(--nav-background-index);
		padding: var(--nav-padding);
	}


hr { width:  25%; border: 1px solid var(--nav_background); backdrop-filter: blur(1px); }

button {
	border-radius: 1px;
	padding: 10px 50px;
	background: var(--buttonBackground);
	backdrop-filter: var(--blur);
	color: white;
	border: 2px solid var(--buttonBorder);
	font-family: lato;
	transition: 0.25s;
}

button:hover {
	box-shadow: 0 0.5em 0.5em -0.4em red;
	transform: translateY(-0.25em);
}

button:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgb(255 255 255 / 0%);
}

a { color: white; text-decoration: none }
b { color: var(--body-highlight); }

ul { margin: 0; padding: 3px 0; }
li { display: inline; padding: 0 7px; }
