:root { 
	--rwrkBackground: #1b1b1b;
	--rwrkColor: #bf9365;
}

:not(a) { cursor: wait; }
:not(#rwrkError_Title), :not(#rwrkError_Link) { text-align: left; }
body {
	margin: 21% auto 0 auto;
	padding: 0;
	height: 100%;
	border: 1px solid var(--rwrkColor);
	width: 25%;
	background: var(--rwrkBackground);
	color: var(--rwrkColor);
	text-align: center;
	letter-spacing: 0.01em;
	font-family: system-ui;
	font-size: 21px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

content {
	height: 200px;
	position: relative;
	border: 3px solid green;
}

a {
	color: var(--rwrkColor);
	text-decoration: none;
}

#rwrkError_Title {
	padding: 0px 21px;
	color: var(--rwrkBackground);
	background: var(--rwrkColor);
	font-weight: bold;
}

#rwrkError_Desc { text-align: left; }

#rwrkError_Desc, #rwrkError_Link {
	color: var(--rwrkColor);
	display: block;
	padding-top: 22px;
}

#rwrkError_Blink {
	animation: blink 1s steps(1) infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}