:root {
	--root_bg: #a58463;
	--rwrkProc: 5%;
}

/* RWRK WIP BADGE */
#rwrk_wipInfo, #rwrk_verRID, #rwrk_addData {
	background: var(--root_bg);
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: 900;
}

#rwrk_wipInfo {
	position: fixed;
	right: 0;
	top: var(--rwrkProc);
}

#rwrk_verRID {
	position: fixed;
	left: 0;
	bottom: var(--rwrkProc);
}

#rwrk_addData {
	position: fixed;
	right: 0;
	bottom: var(--rwrkProc);
}

/*tempDev*/
::-webkit-scrollbar { width: 5px; }
::-moz-scrollbar { width: 5px; }
::-ms-scrollbar { width: 5px; }
::-o-scrollbar { width: 5px; }
::scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: #0f1219; }
::-moz-scrollbar-track { background: #0f1219; }
::-ms-scrollbar-track { background: #0f1219; }
::-o-scrollbar-track { background: #0f1219; }
::scrollbar-track { background: #0f1219; }

::-webkit-scrollbar-thumb { background: #7a0d0d; }
::-moz-scrollbar-thumb { background: #7a0d0d; }
::-ms-scrollbar-thumb { background: #7a0d0d; }
::-o-scrollbar-thumb { background: #7a0d0d; }
::scrollbar-thumb { background: #7a0d0d; }

/*tempDev*/